# Importing libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Read the csv files to the python environment

In [2]:
data=pd.read_csv('Metro_CFS_OpenData.csv',index_col='ObjectId')
data.head()

/var/folders/cc/_x2lxl0x5rl1ht3z4znf96yh0000gn/T/ipykernel_55602/2629264807.py:1: DtypeWarning: Columns (5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv('Metro_CFS_OpenData.csv',index_col='ObjectId')

,Event_Number,Event_Date,Type,Type_Description,General_Location,Beat,Disposition,Map_X,Map_Y,New_Y,LAT,LONG,WARD
ObjectId,,,,,,,,,,,,,
1,LLV230700019065,07/05/2023 07:00:40,416B,416B - OTHER DISTURBANCE,5800 BLOCK FEATHER FALLS CIR,NaN,J,NaN,NaN,NaN,36.183355,-115.044879,NaN
2,LLV230700019041,07/05/2023 06:55:30,415A,415A - ASSAULT/BATTERY WITH A GUN,2900 BLOCK E CHARLESTON BLVD,NaN,C,NaN,NaN,NaN,36.158854,-115.109672,3.0
3,LLV230700019040,07/05/2023 06:55:27,434,434 - ILLEGAL SHOOTING,4900 BLOCK DUNEVILLE ST,NaN,K,NaN,NaN,NaN,36.098690,-115.221025,NaN
4,LLV230700019038,07/05/2023 06:55:26,411A,411A - RECOVERED STOLEN VEHICLE,STONEY BEACH ST / HOT SPRINGS AVE,NaN,K,NaN,NaN,NaN,36.184215,-115.067073,3.0
5,LLV230700019028,07/05/2023 06:53:54,416F,416F - FIREWORKS CALLS,5400 BLOCK W CHEYENNE AVE,NaN,J,NaN,NaN,NaN,36.217129,-115.217837,5.0

In [3]:
data.General_Location.nunique()

39225

In [4]:
data.Beat.unique()

array([nan, 'C2', 'N4', 'B1', 'M4', 'P3', 'S2', 'W4', 'X2', 'H2', 'F1',
       'V3', 'R4', 'X1', 'P2', 'R3', 'R1', 'V4', 'X4', 'P4', 'F3', 'L2',
       '87', 'W2', 'W1', 'Q1', 'N2', 'X3', 'F2', 'V5', 'X5', 'H1', 'J4',
       'U2', 'B3', 'P1', 'M1', 'A1', 'G2', 'U1', 'B5', 'W3', 'V1', 'A3',
       'J1', 'L3', 'M3', 'J2', 'L4', 'S4', 'L5', 'L1', 'S3', 'C3', 'F4',
       'E9', 'M2', 'H4', 'N3', '81', 'X6', 'S1', 'J3', 'R2', 'N1', 'A5',
       'B4', 'V2', 'C5', 'O2', 'M5', 'H3', 'C1', 'O3', 'O4', 'C4', 'O5',
       'U3', 'A2', 'B2', 'O1', 'A4', 'G1', 'G3', '84', '83', 'Y9', '82',
       '88', 'Z8', 'K9', '86', 'O6', '89', 'J6', '85', 'P5', 'G4', 'K5',
       'K3', 'W8', 'I3', 'K6', 'K2', 'S5', 'W5', 'W7', 'I4', 'K1', 'S6',
       'P6', 'W6', 'I1', 'K4', 'V6', 'I2', 'D9', 'J5'], dtype=object)

In [5]:
data.Disposition.unique()

array(['J', 'C', 'K', 'A', 'E', 'D', 'B', nan, 'M'], dtype=object)

# Checking the basic details of dataset

In [6]:
# Convert 'Event_Date' to datetime format
data['Event_Date'] = pd.to_datetime(data['Event_Date'])

# Find the minimum and maximum dates
min_date = data['Event_Date'].min()
max_date = data['Event_Date'].max()

print("Minimum Date:", min_date)
print("Maximum Date:", max_date)

Minimum Date: 2018-06-29 17:39:14
Maximum Date: 2023-07-05 07:00:40

In [7]:
data.shape

(418694, 13)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 418694 entries, 1 to 418694
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Event_Number      418694 non-null  object
 1   Event_Date        418694 non-null  datetime64[ns]
 2   Type              418694 non-null  object
 3   Type_Description  418613 non-null  object
 4   General_Location  194043 non-null  object
 5   Beat              152606 non-null  object
 6   Disposition       194752 non-null  object
 7   Map_X             10464 non-null   float64
 8   Map_Y             10464 non-null   float64
 9   New_Y             10555 non-null   float64
 10  LAT               414343 non-null  float64
 11  LONG              414343 non-null  float64
 12  WARD              410232 non-null  float64
dtypes: datetime64[ns](1), float64(6), object(6)
memory usage: 44.7+ MB

In [9]:
def understand_data(data) :
    
    return(pd.DataFrame({"Datatype":data.dtypes,
                         "No of NAs":data.isna().sum(),
                         "No of unique elements":data.nunique()}))
understand_data(data)

                        Datatype  No of NAs  No of unique elements
Event_Number              object          0                 385610
Event_Date        datetime64[ns]          0                 384559
Type                      object          0                    109
Type_Description          object         81                    130
General_Location          object     224651                  39225
Beat                      object     266088                    117
Disposition               object     223942                      8
Map_X                    float64     408230                   5705
Map_Y                    float64     408230                   5647
New_Y                    float64     408139                   5648
LAT                      float64       4351                 124608
LONG                     float64       4351                 123083
WARD                     float64       8462                      7

# Removing null values

In [10]:
data = data.drop(['Map_X', 'Map_Y', 'New_Y'], axis=1)
data[['General_Location','Beat','Disposition']]=data[['General_Location','Beat','Disposition']].fillna('NoData')
data=data.dropna()

In [11]:
def understand_data(data) :
    
    return(pd.DataFrame({"Datatype":data.dtypes,
                         "No of NAs":data.isna().sum(),
                         "No of unique elements":data.nunique()}))
understand_data(data)

                        Datatype  No of NAs  No of unique elements
Event_Number              object          0                 373911
Event_Date        datetime64[ns]          0                 372901
Type                      object          0                     85
Type_Description          object          0                    129
General_Location          object          0                  35640
Beat                      object          0                    118
Disposition               object          0                      9
LAT                      float64          0                 119854
LONG                     float64          0                 118335
WARD                     float64          0                      7

In [12]:
data.shape

(405800, 10)

# Removing duplicates

In [13]:
data[data.duplicated()]

,Event_Number,Event_Date,Type,Type_Description,General_Location,Beat,Disposition,LAT,LONG,WARD
ObjectId,,,,,,,,,,
129794,LLV220400111240,2022-04-27 04:36:51,417,417 - FAMILY DISTURBANCE,NoData,NoData,NoData,36.113690,-115.119308,0.0
130115,LLV220400107600,2022-04-26 09:44:20,425,425 - SUSPICIOUS SITUATION,NoData,NoData,NoData,36.091998,-115.224644,0.0
130118,LLV220400107588,2022-04-26 09:35:21,440,440 - WANTED SUSPECT,NoData,NoData,NoData,36.190918,-115.191851,5.0
130303,LLV220400107977,2022-04-26 13:32:02,417,417 - FAMILY DISTURBANCE,NoData,NoData,NoData,36.211385,-115.089434,0.0
160402,LLV220100105600,2022-01-27 10:29:46,434A,434A - SHOT SPOTTER,NoData,NoData,NoData,36.158860,-115.109684,3.0
...,...,...,...,...,...,...,...,...,...,...
413556,LLV180920001158,2018-09-20 08:33:45,416B,OTHER DISTURBANCE,1700 HUNDRED BLOCK OF LUNING DR,W4,J,36.189656,-115.174264,5.0
413573,LLV180920000740,2018-09-20 06:14:43,441,MALICIOUS DESTRUCTION OF PROPE,4000 HUNDRED BLOCK OF S MARYLAND PKWY,H3,C,36.115872,-115.137708,0.0
413599,LLV180920000323,2018-09-20 02:20:21,416B,OTHER DISTURBANCE,2500 HUNDRED BLOCK OF VAN PATTEN ST,N1,J,36.142718,-115.148344,0.0
413916,LLV180919003493,2018-09-19 18:28:55,407,ROBBERY,4900 HUNDRED BLOCK OF CHANTILLY AVE,G2,C,36.161013,-115.067266,3.0
417388,LLV180902004097,2018-09-02 23:07:26,411,STOLEN MOTOR VEHICLE,4600 HUNDRED BLOCK OF SUN VALLEY DR,K3,C,36.104063,-115.071891,0.0

In [14]:
data[data['Event_Number']=='LLV220400111240'] #since objectid is set as index column we got different duplicate rows which is to be removed.
#If objectid is not set as index column the ids will be different so it wont treat as a duplicate row and the no of duplicate rows will be zero.

,Event_Number,Event_Date,Type,Type_Description,General_Location,Beat,Disposition,LAT,LONG,WARD
ObjectId,,,,,,,,,,
129786,LLV220400111240,2022-04-27 04:36:51,417,417 - FAMILY DISTURBANCE,NoData,NoData,NoData,36.11369,-115.119308,0.0
129794,LLV220400111240,2022-04-27 04:36:51,417,417 - FAMILY DISTURBANCE,NoData,NoData,NoData,36.11369,-115.119308,0.0

In [15]:
data.drop_duplicates(inplace=True)

In [16]:
data.shape

(375304, 10)

# Feature Engineering

In [17]:
data['Year'] = data['Event_Date'].dt.year
data['Month'] = data['Event_Date'].dt.month 
data['Month-Year'] = data['Event_Date'].dt.strftime('%B-%Y')
time_range = pd.timedelta_range(start='0 hours', end='24 hours', freq='4H')
window_labels = ['0-4', '4-8', '8-12', '12-16', '16-20', '20-24']
data['time_window'] = pd.cut(data['Event_Date'].dt.hour * 3600 + data['Event_Date'].dt.minute * 60 + data['Event_Date'].dt.second,
                      bins=time_range.total_seconds(),
                      labels=window_labels,
                      right=False)
data

,Event_Number,Event_Date,Type,Type_Description,General_Location,Beat,Disposition,LAT,LONG,WARD,Year,Month,Month-Year,time_window
ObjectId,,,,,,,,,,,,,,
2,LLV230700019041,2023-07-05 06:55:30,415A,415A - ASSAULT/BATTERY WITH A GUN,2900 BLOCK E CHARLESTON BLVD,NoData,C,36.158854,-115.109672,3.0,2023,7,July-2023,4-8
4,LLV230700019038,2023-07-05 06:55:26,411A,411A - RECOVERED STOLEN VEHICLE,STONEY BEACH ST / HOT SPRINGS AVE,NoData,K,36.184215,-115.067073,3.0,2023,7,July-2023,4-8
5,LLV230700019028,2023-07-05 06:53:54,416F,416F - FIREWORKS CALLS,5400 BLOCK W CHEYENNE AVE,NoData,J,36.217129,-115.217837,5.0,2023,7,July-2023,4-8
6,LLV230700019025,2023-07-05 06:53:00,417,417 - FAMILY DISTURBANCE,S 1ST ST / E BONNEVILLE AVE,NoData,A,36.165362,-115.148991,3.0,2023,7,July-2023,4-8
7,LLV230700019024,2023-07-05 06:52:56,416F,416F - FIREWORKS CALLS,WALKER ST / FREDERICK AVE,NoData,K,36.192388,-115.150863,5.0,2023,7,July-2023,4-8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418690,LLV180829002198,2018-08-29 13:16:31,413,PERSON WITH A GUN,MORRIS ST&E TROPICANA AVE,J4,A,36.100330,-115.059414,0.0,2018,8,August-2018,12-16
418691,LLV180829002197,2018-08-29 13:16:26,416B,OTHER DISTURBANCE,6100 HUNDRED BLOCK OF E SAHARA AVE,G4,K,36.144668,-115.038811,0.0,2018,8,August-2018,12-16
418692,LLV180829002166,2018-08-29 13:08:14,416B,OTHER DISTURBANCE,3000 HUNDRED BLOCK OF S LAS VEGAS BLVD,M1,K,36.133488,-115.163949,0.0,2018,8,August-2018,12-16
418693,LLV180829002151,2018-08-29 13:04:20,406V,AUTO BURGLARY,3300 HUNDRED BLOCK OF E TROPICANA AVE,K1,C,36.100086,-115.101475,0.0,2018,8,August-2018,12-16
418694,LLV180829002096,2018-08-29 12:43:27,406,BURGLARY,1700 HUNDRED BLOCK OF ROCK SPRINGS DR,V5,B,36.189871,-115.246662,1.0,2018,8,August-2018,12-16

In [18]:
#remapping the 128 type_of_crimes into 37 type_of_crimes for better analysis

In [19]:
pattern_mapping = {'Hit and Run':r'\b(?:401A)\b',
                   'Burglary':r'\b(?:406|406A|406V)\b',
                   'Robbery':r'\b(?:407|407A|407B)\b',
                   'Person with a gun/knife/other deadly weapon':r'\b(?:413|413A|413B)\b',
                   'Grand Larceny':r'\b(?:414)\b',
                   'Abuse/Neglect':r'\b(?:424)\b',
                   'Sexual Assault':r'\b(?:426)\b',
                   'Kidnap':r'\b(?:427)\b',
                   'Child Molest':r'\b(?:428)\b',
                   'Fraud':r'\b(?:432)\b',
                   'Illegal Shooting':r'\b(?:434)\b',
                   'Explosive device':r'\b(?:445)\b',
                   'Narcotics':r'\b(?: 446)\b',
                   'Accident':r'\b(?:401|401B|401C|401M)\b',
                   'Prowler':r'\b(?:403)\b',
                   'Uknown trouble/911 disconnect':r'\b(?:404|404A)\b',
                   'Suicide':r'\b(?:405)\b',
                   'Drunk driver(driving under influence)':r'\b(?:409)\b',
                   'Reckless driver':r'\b(?:410)\b',
                   'small LARCENY':r'\b(?:414A|414C)\b',
                   'Assault/Battery':r'\b(?:415|415A|415B|415C)\b',
                   'Fight/disturbance':r'\b(?:416|416B|416F)\b',
                   'Juvenile disturbance':r'\b(?:416A)\b',
                   'Family Disturbance':r'\b(?:417)\b',
                   'Suspicious':r'\b(?:425|425A|425B|425H)\b',
                   'Indecent Exposure':r'\b(?:429)\b',
                   'Animal Complaint':r'\b(?:430)\b',
                   'Stolen Property':r'\b(?:433)\b',
                   'Malicious destruction of property':r'\b(?:441)\b',
                   'Recovered Stolen Motor Vehicle':r'\b(?:411A)\b',
                   'Traffic Problem':r'\b(?:438)\b',
                   'missing person/found person/runaway':r'\b(?: 418|418A|418B)\b',
                   'Dead body':r'\b(?:419)\b',
                   'Missing/Found Property':r'\b(?:431)\b',
                   'Civil matter':r'\b(?:447)\b',
                   'Sick/injured person/mentally ill person':r'\b(?:421|422|423)\b',
                   'keep the peace':r'\b(?:437)\b',
                   'assist citizen':r'\b(?:439)\b',
                   'wanted suspect':r'\b(?:440)\b',
                   'airplane emergency':r'\b(?:442)\b',
                   'assist an officer':r'\b(?:443)\b',
                   'Officer needs help emergency/panic alarm emergency':r'\b(?:444,444A)\b'}

for category, pattern in pattern_mapping.items():
    data.loc[data['Type'].str.contains(pattern, regex=True, na=False), 'New_Type_Description'] = category

data['New_Type_Description'] = data['New_Type_Description'].fillna('Other')
data

,Event_Number,Event_Date,Type,Type_Description,General_Location,Beat,Disposition,LAT,LONG,WARD,Year,Month,Month-Year,time_window,New_Type_Description
ObjectId,,,,,,,,,,,,,,,
2,LLV230700019041,2023-07-05 06:55:30,415A,415A - ASSAULT/BATTERY WITH A GUN,2900 BLOCK E CHARLESTON BLVD,NoData,C,36.158854,-115.109672,3.0,2023,7,July-2023,4-8,Assault/Battery
4,LLV230700019038,2023-07-05 06:55:26,411A,411A - RECOVERED STOLEN VEHICLE,STONEY BEACH ST / HOT SPRINGS AVE,NoData,K,36.184215,-115.067073,3.0,2023,7,July-2023,4-8,Recovered Stolen Motor Vehicle
5,LLV230700019028,2023-07-05 06:53:54,416F,416F - FIREWORKS CALLS,5400 BLOCK W CHEYENNE AVE,NoData,J,36.217129,-115.217837,5.0,2023,7,July-2023,4-8,Fight/disturbance
6,LLV230700019025,2023-07-05 06:53:00,417,417 - FAMILY DISTURBANCE,S 1ST ST / E BONNEVILLE AVE,NoData,A,36.165362,-115.148991,3.0,2023,7,July-2023,4-8,Family Disturbance
7,LLV230700019024,2023-07-05 06:52:56,416F,416F - FIREWORKS CALLS,WALKER ST / FREDERICK AVE,NoData,K,36.192388,-115.150863,5.0,2023,7,July-2023,4-8,Fight/disturbance
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418690,LLV180829002198,2018-08-29 13:16:31,413,PERSON WITH A GUN,MORRIS ST&E TROPICANA AVE,J4,A,36.100330,-115.059414,0.0,2018,8,August-2018,12-16,Person with a gun/knife/other deadly weapon
418691,LLV180829002197,2018-08-29 13:16:26,416B,OTHER DISTURBANCE,6100 HUNDRED BLOCK OF E SAHARA AVE,G4,K,36.144668,-115.038811,0.0,2018,8,August-2018,12-16,Fight/disturbance
418692,LLV180829002166,2018-08-29 13:08:14,416B,OTHER DISTURBANCE,3000 HUNDRED BLOCK OF S LAS VEGAS BLVD,M1,K,36.133488,-115.163949,0.0,2018,8,August-2018,12-16,Fight/disturbance
418693,LLV180829002151,2018-08-29 13:04:20,406V,AUTO BURGLARY,3300 HUNDRED BLOCK OF E TROPICANA AVE,K1,C,36.100086,-115.101475,0.0,2018,8,August-2018,12-16,Burglary
418694,LLV180829002096,2018-08-29 12:43:27,406,BURGLARY,1700 HUNDRED BLOCK OF ROCK SPRINGS DR,V5,B,36.189871,-115.246662,1.0,2018,8,August-2018,12-16,Burglary

In [20]:
data.New_Type_Description.nunique()

37

In [21]:
desired_column_order = ['Event_Number', 'Event_Date', 'Type', 'New_Type_Description',
       'General_Location', 'Beat', 'Disposition', 'LAT', 'LONG', 'WARD',
       'Year', 'Month', 'Month-Year', 'time_window']

# Reorder columns based on desired order
data = data[desired_column_order]
data.rename(columns={'New_Type_Description':'Type_Description'},inplace=True)
data

/var/folders/cc/_x2lxl0x5rl1ht3z4znf96yh0000gn/T/ipykernel_55602/3155025575.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.rename(columns={'New_Type_Description':'Type_Description'},inplace=True)

,Event_Number,Event_Date,Type,Type_Description,General_Location,Beat,Disposition,LAT,LONG,WARD,Year,Month,Month-Year,time_window
ObjectId,,,,,,,,,,,,,,
2,LLV230700019041,2023-07-05 06:55:30,415A,Assault/Battery,2900 BLOCK E CHARLESTON BLVD,NoData,C,36.158854,-115.109672,3.0,2023,7,July-2023,4-8
4,LLV230700019038,2023-07-05 06:55:26,411A,Recovered Stolen Motor Vehicle,STONEY BEACH ST / HOT SPRINGS AVE,NoData,K,36.184215,-115.067073,3.0,2023,7,July-2023,4-8
5,LLV230700019028,2023-07-05 06:53:54,416F,Fight/disturbance,5400 BLOCK W CHEYENNE AVE,NoData,J,36.217129,-115.217837,5.0,2023,7,July-2023,4-8
6,LLV230700019025,2023-07-05 06:53:00,417,Family Disturbance,S 1ST ST / E BONNEVILLE AVE,NoData,A,36.165362,-115.148991,3.0,2023,7,July-2023,4-8
7,LLV230700019024,2023-07-05 06:52:56,416F,Fight/disturbance,WALKER ST / FREDERICK AVE,NoData,K,36.192388,-115.150863,5.0,2023,7,July-2023,4-8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418690,LLV180829002198,2018-08-29 13:16:31,413,Person with a gun/knife/other deadly weapon,MORRIS ST&E TROPICANA AVE,J4,A,36.100330,-115.059414,0.0,2018,8,August-2018,12-16
418691,LLV180829002197,2018-08-29 13:16:26,416B,Fight/disturbance,6100 HUNDRED BLOCK OF E SAHARA AVE,G4,K,36.144668,-115.038811,0.0,2018,8,August-2018,12-16
418692,LLV180829002166,2018-08-29 13:08:14,416B,Fight/disturbance,3000 HUNDRED BLOCK OF S LAS VEGAS BLVD,M1,K,36.133488,-115.163949,0.0,2018,8,August-2018,12-16
418693,LLV180829002151,2018-08-29 13:04:20,406V,Burglary,3300 HUNDRED BLOCK OF E TROPICANA AVE,K1,C,36.100086,-115.101475,0.0,2018,8,August-2018,12-16
418694,LLV180829002096,2018-08-29 12:43:27,406,Burglary,1700 HUNDRED BLOCK OF ROCK SPRINGS DR,V5,B,36.189871,-115.246662,1.0,2018,8,August-2018,12-16

In [22]:
#finding the location of nodata location columns using geolocator

In [23]:
df1=data[data["General_Location"]=="NoData"]#dataframe having location as "NoData"
df1.shape

(224383, 14)

In [24]:
df2=data[data["General_Location"]!="NoData"]#dataframe having location values
df2.shape

(150921, 14)

In [25]:
# from geopy.geocoders import Nominatim
# from tqdm import tqdm  # for progress bar
# import time  # for rate limiting
 
# # Initialize geocoder
# geolocator = Nominatim(user_agent="geoapiExercises")
 
# # Function to perform reverse geocoding
# def reverse_geocode(lat, long):
#     try:
#         location = geolocator.reverse((lat, long), language="en")
#         return location.address
#     except:
#         return "NoData"
 
# # Apply reverse geocoding to each row in the DataFrame
# tqdm.pandas()  # Enable progress bar for pandas operations
# df_loc["General_Location"] = df_loc.progress_apply(lambda row: reverse_geocode(row["LAT"], row["LONG"]), axis=1)
 
# # Optional: Add a delay to avoid rate limiting
# # time.sleep(1)
# df_loc

In [26]:
#The above code takes longer time to execute. so not running here. Already saved the result as csv file named LAT_LONG_LOC.csv
df_loc=pd.read_csv("LAT_LONG_LOC.csv")#dataframe consisting of location value for "NoData" locations in df1 with unique LAT and LONG VALUES
df_loc

             LAT        LONG                       Street_Name
0      36.233068 -115.250065        7096,  West Alexander Road
1      36.179538 -115.153026          917,  West Gerson Avenue
2      36.208889 -115.212295             2705,  Sonador Street
3      36.196374 -115.203512  Sawyer Avenue,  Eastland Heights
4      36.182453 -115.251905                    7399,  Mercado
...          ...         ...                               ...
69650  36.218660 -115.213317                               NaN
69651  36.069089 -115.094058                               NaN
69652  36.183013 -115.219173                               NaN
69653  36.242590 -115.212463                               NaN
69654  36.173430 -115.077737                               NaN

[69655 rows x 3 columns]

In [27]:
df_loc.isnull().sum()

LAT               0
LONG              0
Street_Name    6590
dtype: int64

In [28]:
df_loc["Street_Name"] = df_loc["Street_Name"].fillna("NoData")
df_loc.isnull().sum()

LAT            0
LONG           0
Street_Name    0
dtype: int64

In [29]:
#merging the location values with NoData Dataframe
df_lat_long = pd.merge(df1, df_loc, on=["LAT", "LONG"], how="inner")
df_lat_long.drop(columns=["General_Location"],inplace=True)
df_lat_long.rename(columns={"Street_Name":"General_Location"},inplace=True)
df_lat_long.shape

(224383, 14)

In [30]:
df_lat_long.isnull().sum()

Event_Number        0
Event_Date          0
Type                0
Type_Description    0
Beat                0
Disposition         0
LAT                 0
LONG                0
WARD                0
Year                0
Month               0
Month-Year          0
time_window         0
General_Location    0
dtype: int64

In [31]:
df_New=pd.concat([df2,df_lat_long])
df_New=df_New.sort_values(by="Event_Date").reset_index(drop=True)
df_New

,Event_Number,Event_Date,Type,Type_Description,General_Location,Beat,Disposition,LAT,LONG,WARD,Year,Month,Month-Year,time_window
0,LLV180629003081,2018-06-29 17:39:14,411,Other,3500 HUNDRED BLOCK OF N NELLIS BLVD,F3,C,36.224238,-115.062216,0.0,2018,6,June-2018,16-20
1,LLV180724003344,2018-07-24 17:11:53,406,Burglary,2900 HUNDRED BLOCK OF CLIFFORD ST,F3,C,36.213132,-115.096163,0.0,2018,7,July-2018,16-20
2,LLV180731004564,2018-07-31 22:38:53,406,Burglary,3900 HUNDRED BLOCK OF N NELLIS BLVD,F3,C,36.232452,-115.062209,0.0,2018,7,July-2018,20-24
3,LLV180802001747,2018-08-02 11:04:06,411,Other,3000 HUNDRED BLOCK OF S LAS VEGAS BLVD,M1,C,36.132893,-115.164339,0.0,2018,8,August-2018,8-12
4,LLV180804001410,2018-08-04 10:04:52,406,Burglary,6700 HUNDRED BLOCK OF SEGURA DR,P3,C,36.120072,-115.240415,0.0,2018,8,August-2018,8-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375299,LLV230700019024,2023-07-05 06:52:56,416F,Fight/disturbance,WALKER ST / FREDERICK AVE,NoData,K,36.192388,-115.150863,5.0,2023,7,July-2023,4-8
375300,LLV230700019025,2023-07-05 06:53:00,417,Family Disturbance,S 1ST ST / E BONNEVILLE AVE,NoData,A,36.165362,-115.148991,3.0,2023,7,July-2023,4-8
375301,LLV230700019028,2023-07-05 06:53:54,416F,Fight/disturbance,5400 BLOCK W CHEYENNE AVE,NoData,J,36.217129,-115.217837,5.0,2023,7,July-2023,4-8
375302,LLV230700019038,2023-07-05 06:55:26,411A,Recovered Stolen Motor Vehicle,STONEY BEACH ST / HOT SPRINGS AVE,NoData,K,36.184215,-115.067073,3.0,2023,7,July-2023,4-8
375303,LLV230700019041,2023-07-05 06:55:30,415A,Assault/Battery,2900 BLOCK E CHARLESTON BLVD,NoData,C,36.158854,-115.109672,3.0,2023,7,July-2023,4-8

In [32]:
df_New.isnull().sum()

Event_Number        0
Event_Date          0
Type                0
Type_Description    0
General_Location    0
Beat                0
Disposition         0
LAT                 0
LONG                0
WARD                0
Year                0
Month               0
Month-Year          0
time_window         0
dtype: int64

In [33]:
df_New[df_New["General_Location"]=="NoData"]

,Event_Number,Event_Date,Type,Type_Description,General_Location,Beat,Disposition,LAT,LONG,WARD,Year,Month,Month-Year,time_window
122142,LLV210800118220,2021-08-28 13:14:24,416B,Fight/disturbance,NoData,NoData,NoData,36.263126,-115.219520,6.0,2021,8,August-2021,12-16
122151,LLV210800118275,2021-08-28 13:49:35,416B,Fight/disturbance,NoData,NoData,NoData,36.159955,-115.359117,2.0,2021,8,August-2021,12-16
122152,LLV210800118277,2021-08-28 13:51:48,441,Malicious destruction of property,NoData,NoData,NoData,36.247461,-115.284235,0.0,2021,8,August-2021,12-16
122154,LLV210800118294,2021-08-28 14:01:45,437,keep the peace,NoData,NoData,NoData,36.230170,-115.272824,4.0,2021,8,August-2021,12-16
122163,LLV210800118347,2021-08-28 14:29:29,430,Animal Complaint,NoData,NoData,NoData,36.199245,-115.085715,0.0,2021,8,August-2021,12-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345164,LLV230400030457,2023-04-08 02:24:22,414A,small LARCENY,NoData,NoData,NoData,36.129882,-115.118223,0.0,2023,4,April-2023,0-4
345264,LLV230400031323,2023-04-08 05:36:40,425B,Suspicious,NoData,NoData,NoData,36.107475,-115.279132,0.0,2023,4,April-2023,4-8
345287,LLV230400031525,2023-04-08 06:23:04,406V,Burglary,NoData,NoData,NoData,36.157420,-115.333676,0.0,2023,4,April-2023,4-8
345314,LLV230400031773,2023-04-08 07:23:39,417,Family Disturbance,NoData,NoData,NoData,36.159097,-115.069684,3.0,2023,4,April-2023,4-8
345364,LLV230400032197,2023-04-08 09:35:51,417,Family Disturbance,NoData,NoData,NoData,36.141601,-115.190558,3.0,2023,4,April-2023,8-12

In [34]:
df_New.Type_Description.nunique()

37

In [35]:
mapping_dict = {0.0:'W_0',1.0: 'W_1', 2.0: 'W_2',3.0:'W_3',4.0:"W_4",5.0:"W_5",6.0:"W_6"}

# Use the map function to replace values based on the dictionary
df_New['WARD'] = df_New['WARD'].map(mapping_dict)
df_New

,Event_Number,Event_Date,Type,Type_Description,General_Location,Beat,Disposition,LAT,LONG,WARD,Year,Month,Month-Year,time_window
0,LLV180629003081,2018-06-29 17:39:14,411,Other,3500 HUNDRED BLOCK OF N NELLIS BLVD,F3,C,36.224238,-115.062216,W_0,2018,6,June-2018,16-20
1,LLV180724003344,2018-07-24 17:11:53,406,Burglary,2900 HUNDRED BLOCK OF CLIFFORD ST,F3,C,36.213132,-115.096163,W_0,2018,7,July-2018,16-20
2,LLV180731004564,2018-07-31 22:38:53,406,Burglary,3900 HUNDRED BLOCK OF N NELLIS BLVD,F3,C,36.232452,-115.062209,W_0,2018,7,July-2018,20-24
3,LLV180802001747,2018-08-02 11:04:06,411,Other,3000 HUNDRED BLOCK OF S LAS VEGAS BLVD,M1,C,36.132893,-115.164339,W_0,2018,8,August-2018,8-12
4,LLV180804001410,2018-08-04 10:04:52,406,Burglary,6700 HUNDRED BLOCK OF SEGURA DR,P3,C,36.120072,-115.240415,W_0,2018,8,August-2018,8-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375299,LLV230700019024,2023-07-05 06:52:56,416F,Fight/disturbance,WALKER ST / FREDERICK AVE,NoData,K,36.192388,-115.150863,W_5,2023,7,July-2023,4-8
375300,LLV230700019025,2023-07-05 06:53:00,417,Family Disturbance,S 1ST ST / E BONNEVILLE AVE,NoData,A,36.165362,-115.148991,W_3,2023,7,July-2023,4-8
375301,LLV230700019028,2023-07-05 06:53:54,416F,Fight/disturbance,5400 BLOCK W CHEYENNE AVE,NoData,J,36.217129,-115.217837,W_5,2023,7,July-2023,4-8
375302,LLV230700019038,2023-07-05 06:55:26,411A,Recovered Stolen Motor Vehicle,STONEY BEACH ST / HOT SPRINGS AVE,NoData,K,36.184215,-115.067073,W_3,2023,7,July-2023,4-8
375303,LLV230700019041,2023-07-05 06:55:30,415A,Assault/Battery,2900 BLOCK E CHARLESTON BLVD,NoData,C,36.158854,-115.109672,W_3,2023,7,July-2023,4-8

In [36]:
df_New.Type_Description.nunique()

37

In [37]:
df_New.isna().sum()

Event_Number        0
Event_Date          0
Type                0
Type_Description    0
General_Location    0
Beat                0
Disposition         0
LAT                 0
LONG                0
WARD                0
Year                0
Month               0
Month-Year          0
time_window         0
dtype: int64

In [38]:
df_New.to_csv('las_vegas_final_cleaned_data.csv',index=False)